name: UI Tests

on: [push]

jobs:
  ui-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Run UI-tests via docker-compose
      env:
        LOGIN: ${{ secrets.LOGIN }}
        PASSWORD: ${{ secrets.PASSWORD }}
      run: |
        docker compose up --exit-code-from regression || true

    - name: Generate Allure report
      run: |
          sudo docker compose run regression $PWD/allure-results:/usr/workspace/allure-results regression pytest -sv --alluredir=allure-results
        
    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@4.1.5
      with:
        token: ${{ secrets.CI_TOKEN }}
        branch: gh-pages
        folder: allure-report
        clean: true